@import 'reset';
@import 'responsive';
@import 'grid';

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  // background: #fff;
}
canvas {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  image-rendering: pixelated;
  // cursor: none;
}

.canvas-wrapper {
  position: relative;
  width: 100%;
}